#!/usr/bin/env python3

TOKEN = 'discord-bot-token-here'
ADMIN_ROLE = 'role-to-exclude-from-gifbot'
PREVIEWCHANNELS = [add-channel-ids-for-bot-to-work-in]
BOTCHANNEL = [add id of bot channel]
FLAIRROLES = [add list of role ids to correspond to the emoji]
FLAIRROLE = [add id of flair separator role]